@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #E30613;
  --primary-hover: #c00510;
  --gray-light: #F5F5F5;
  --gray-medium: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
